.person {
  position: relative;
  text-align: center;
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;

  transition: transform 0.7s;
  transition-timing-function: ease-in-out;
  transition-delay: 0.3s;
  

  &:hover {
    z-index: 10;
    transform: scale(1.2);
  }

  &:hover::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 287px;

    border-radius: 10px;
    background-color: #eee;
  }
  
  &__photo {
    position: relative;
    width: 200px;
    height: 200px;
    margin: 0;
    margin-bottom: 8px;
    padding: 0;
  }
  
  &__photo img {
    width: 100%;
    border-radius: 50%;

    transition: border-radius 0.7s;
    transition-timing-function: ease-in-out;
    transition-delay: 0.3s;
  }

  &:hover &__photo img {
    border-radius: 60px;
  }
  
  &__rank {
    position: absolute;
    top: 50%;
    right: 10px;
    width: 32px;
    height: 32px;
    transform: translateY(-50%);
  
    display: flex;
    justify-content: center;
    align-items: center;
  
    font-size: 16px;
    color: #8B0000;
    background-color: #fff;
    border-radius: 50%;
  }
  
  &__details {
    position: relative;
  }

  &__name {
    display: block;
    margin-bottom: 20px;
  }
  
  &__extra {
    position: absolute;
    top: 32px;
    left: 50%;
    transform: translateX(-50%);

    visibility: hidden;
    white-space: nowrap;
  
    font-size: 18px;
    font-weight: normal;
    color: #000;
  }

  &:hover &__extra {
    visibility: initial;
    display: block;
  }
}
